.main {
  min-height: 100vh;
	margin: 0.8rem;
}

.background_color {
	background-color: purple;
}

.title {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;	
	align-items: center;
	text-align: center;
	font-size: 3rem;
}
	.title h1 {
		padding: 1rem;
	}
@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .title {
		flex-wrap: wrap;
		padding-bottom: 1rem;
  }
}

.navigation {
	display: flex;
	flex-direction: row;
	justify-content: center;
}
	.navigation_items ul {
		display: flex;
		flex-wrap: nowrap;
		padding: .8rem;
	}
	.navigation_items a {
		margin: 10px 20px 10px 20px;
	}
@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .navigation_items ul {
		flex-direction: column;
		align-items: center;
    width: 100%;
  }
}

.socials_container {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}
	.socials_items {
		display: flex;
		align-items: center;
		padding: .2rem;
	}
	.socials_items a > img {
		display: flex;
		margin: 0px 5px 0px 5px;
		width: 50px;
	}
		.social_logos {
		}
			.imdb {
				order: 2;
			}
			.twitter {
				order: 3;
			}
			.youtube {
				order: 1;
			}

.click {
	text-align: center;
}
.headshots {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}
	img.headshots_items {
		flex-grow: 1; 
		flex-basis: 23%;
		object-fit: contain; 
		min-width: 300px;
		max-width: 500px;
		align-content: flex-start;
	}
	.serious_headshot {
		order: 1;
	}
	.seedy_headshot {
		order: 2;
	}
	.jeanjacket_headshot {
		order: 3;
	}
	.earnest_headshot {
		order: 4;
	}

.heading_text_container {
	background-color: purple;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-size: 3rem;
	margin: 2rem 0rem 1rem 0rem;
}
.reels_container {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	width: 100%;
}
	.reels_featured_reel {
		display: flex;
		align-self: center;
	}
	.reels_featured_reel iframe {
		width: 700px;
		height: 394px;
	}
	.reels_side_reels {
		display: flex;
		flex-direction: column;
	}
	.reels_side_reels iframe {
		width: 560px;
		height: 315px
	}
@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .reels_container {
		flex-wrap: wrap;
		justify-content: center;
  }
		.reels_featured_reel, .reels_side_reels {
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: center;
			width: 100%;
		}
}

.brief_bio_container {
	display: flex;
	flex-direction: row;
	width: 100%;
	flex-wrap: wrap;
	justify-content: center;
}
	.charactertype_text {
		padding: 2rem;
	}
		.charactertype_text p {
			padding-bottom: .8rem;
		}
	.brief_bio__bio_images {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		align-items: flex-start;
		width: auto;
	}
	.brief_bio__bio_images img {
  	display: flex;
		object-fit: contain;
		min-width: 250px;
		max-width: 400px;
	}
		/* DOES NOT CURRENTLY WORK */
		.love_interest {
			order: 6;
		}
		.confident_villian_thebiz {
			order: 2;
		}
		.ennui_macbeth {
			order: 3;
		}
		.arthur {
			order: 4;
		}
		.hundred_years_uncertain {
			order: 5;
		}
		.king_of_cribbage_flummoxed {
			order: 1;
		}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .brief_bio_container {
		flex-wrap: wrap;
  }
	.brief_bio_text {
		padding: 1rem;
	}
}

.resume_field {
	display: flex;
	flex-direction: column;
	width: 100%;	
}

/*CONTACT FORM*/
.text_area {
	height: 200px;
	margin: 10px 0px 10px 0px;
}

/*ACTOR FULL BIO*/
.about_full_bio_container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: left;
	align-items: space-between;
	padding: .8rem;
}
	.about_full_bio_container p {
		display: flex;
		align-self: flex-start;
		margin: 1rem;
		width: 300px;
	}
	.about_intro h4, .about_charactertype h4, .about_experience h4, .about_history h4 { 
		padding-left: .6rem; 
	}

/*FILMS & SCENES COMPONENTS*/
.filmspage_films_container, .scenes_page_scenes_container{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	padding: 2rem;
}
	.filmspage_films_container iframe, .scenes_page_scenes_container iframe {
		margin: 0rem 0.5rem 2rem 0.5rem;
	}
/*	.nocturne { 
		order: 1;
	}*/
	.filmspage_films_container iframe .king_of_cribbage_film {
		order: 3;
	}
	.filmspage_films_container iframe .hundred_years_film {
		order: 2;
	}
	.filmspage_films_container iframe .the_startup_webseries {
		order: 4;
	}
	.filmspage_films_container iframe .wwif_film {
		order: 1;
	}
	.filmspage_films_container iframe .the_biz_film {
		order: 5;
	}
	.filmspage_films_container iframe .the_chronometry_device_film {
		order: 6;
	}
	
	/*SCENES*/
	.scenes_page_scenes_container iframe .thy_will_be_done_scene {
}
	.scenes_page_scenes_container iframe .the_notebook_monologue {
}
	.scenes_page_scenes_container iframe .macbeth_monologue {
}
	.scenes_page_scenes_container iframe .goodbye_charles_monologue {
}
		.king_of_cribbage_film h4, .hundred_years_film h4, .the_startup_film h4, .wwif_film h4, .the_biz_film h4, .the_chronometry_device_film, .thy_will_be_done_scene h4, .the_notebook_monologue h4, .macbeth_monologue h4, .goodbye_charles_monologue h4 {
			padding-left: .6rem; 
		}
@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .filmspage_films_container,	.scenes_page_scenes_container {
		flex-direction: column;
		flex-wrap: nowrap;
		padding: .1rem;
  }
		.filmspage_films_container iframe, .scenes_page_scenes_container iframe {
			max-width: 330px;
			max-height: 186px;
		}
}

/*REELS PAGE*/
.reels_page_reels_container {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	padding: 2rem;
}
	.container__reel {
		display: flex;
	}
	.container__reel iframe {
		width: 530px;
		height: 315px;

	}
@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .reels_page_reels_container {
		justify-content: center;
		padding: .1rem;
  }
		.container__reel {
			align-self: stretch;
		}
}

/*
.description {
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
	font-size: 1.2rem;
  max-width: var(--max-width);
  width: 100%;
  z-index: 2;
  font-family: var(--font-mono);
}
*/
/*
.description a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.description p {
  position: relative;
  margin: 0;
  padding: 1rem;
  background-color: rgba(var(--callout-rgb), 0.5);
  border: 1px solid rgba(var(--callout-border-rgb), 0.3);
  border-radius: var(--border-radius);
}

.code {
  font-weight: 700;
  font-family: var(--font-mono);
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(25%, auto));
  max-width: var(--max-width);
  width: 100%;
}

.header_grid {
  text-align: right;
  display: grid;
  grid-template-columns: repeat(5, minmax(20%, auto));
  max-width: var(--small-width);
  width: 100%;
}
*/

/* UNUSED FANCY COOL BUTTONS */
.card {
  padding: 1rem 1.2rem;
  border-radius: var(--border-radius);
  background: rgba(var(--card-rgb), 0);
  border: 1px solid rgba(var(--card-border-rgb), 0);
  transition: background 200ms, border 200ms;
}
.card span {
  display: inline-block;
  transition: transform 200ms;
}
.card h2 {
  font-weight: 600;
  margin-bottom: 0.7rem;
}
.card p {
  margin: 0;
  opacity: 0.6;
  font-size: 0.9rem;
  line-height: 1.5;
  max-width: 30ch;
}
/* UNUSED */
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 4rem 0;
}
.center::before {
  background: var(--secondary-glow);
  border-radius: 50%;
  width: 480px;
  height: 360px;
  margin-left: -400px;
}
.center::after {
  background: var(--primary-glow);
  width: 240px;
  height: 180px;
  z-index: -1;
}
.center::before,
.center::after {
  content: '';
  left: 50%;
  position: absolute;
  filter: blur(45px);
  transform: translateZ(0);
}
.logo {
  position: relative;
}
.left {
  display: flex;
/*  flex: 1 !important;*/
	justify-content: left;
  align-items: left;
  position: relative;
  padding: 4rem 0;
}
.header_image {
  position: relative;
  width: 100%;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .card:hover {
    background: rgba(var(--card-rgb), 0.1);
    border: 1px solid rgba(var(--card-border-rgb), 0.15);
  }
  .card:hover span {
    transform: translateX(4px);
  }
}
@media (prefers-reduced-motion) {
  .card:hover span {
    transform: none;
  }
}

/* Mobile */
@media (max-width: 700px) {
  .content {
    padding: 4rem;
  }
  .grid, .header_grid, .header_socials {
    grid-template-columns: 1fr;
    margin-bottom: 120px;
    max-width: 320px;
    text-align: center;
  }
  .card {
    padding: 1rem 2.5rem;
  }
  .card h2 {
    margin-bottom: 0.5rem;
  }
  .center {
    padding: 8rem 0 6rem;
  }
  .center::before {
    transform: none;
    height: 300px;
  }
  .description {
    font-size: 0.8rem;
  }
  .description a {
    padding: 1rem;
  }
  .description p,
  .description div {
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
  }
  .description p {
    align-items: center;
    inset: 0 0 auto;
    padding: 2rem 1rem 1.4rem;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid rgba(var(--callout-border-rgb), 0.25);
    background: linear-gradient(
      to bottom,
      rgba(var(--background-start-rgb), 1),
      rgba(var(--callout-rgb), 0.5)
    );
    background-clip: padding-box;
    backdrop-filter: blur(24px);
  }
  .description div {
    align-items: flex-end;
    pointer-events: none;
    inset: auto 0 0;
    padding: 2rem;
    height: 200px;
    background: linear-gradient(
      to bottom,
      transparent 0%,
      rgb(var(--background-end-rgb)) 40%
    );
    z-index: 1;
  }
}
	.left {
  	padding: 8rem 0 6rem;
	}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .grid, .header_grid, .header_socials {
    grid-template-columns: repeat(2, 50%);
  }
}

@media (prefers-color-scheme: dark) {
  .vercelLogo {
    filter: invert(1);
  }

  .logo {
    filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
